<% if current_user %>
<h3>Organization: <%= @member.fist_name + " " + @member.last_name %></h3>
<% else %>

<div id="headerwrap">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6 heyyo">
        <h1>Contracts made Collaborative</h1>
         <h2 class="nav-h2">Stem lets you collaborate with your clients by giving your contracts intuitive project management capabilities.</h2>
         <div class = "centerBlock">
         <%= link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary home-sign-up' %>

          <!-- Sign UP Goes here -->

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a0ae2dc64467205236f215b8_c2500da77f" tabindex="-1" value=""></div>
        </form> 
       </div> 
        </div>
        <div class="col-md-6">
       <%= image_tag("header-tree.png", :alt => "rss feed", :height => 400, :width => 400, :class => "img-responsive", :class => "img-padding") %>
      </div>
        </div>
    </div><!-- /row -->
    </div><!-- /row -->

  </div><!-- /container -->
</div><!-- /headerwrap -->

<% end %>