.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;

  a {
      color: #fff !important;
      margin: 0 !important;
      padding: 5px!important;
  }
  a:hover, a:focus {
    color: #fff !important;
  }
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
  height: 65px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }
  .navbar-link:focus, .navbar-link:hover {
    background: #3cc76a;
    color: #fff;
  }
  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }

  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }
  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#3cc76a,20%) !important;
  }
  a {
    color: #3cc76a;
  }
  a:hover, a:focus {
    background-color: rgba(0, 0, 0, 0);
  }
}

.nav-links {
  padding-top: 5px;
}

.btn-primary {
background-color: #3cc76a;
border-color: #3cc76a;
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  background-image: asset-url('meeting1.png');
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 95px;
  padding-bottom: 95px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

  h2 {
    font-size: 35px !important;
    .lead {
      font-family: 'Helvetica Neue' !important;
      font-size: 30px !important;
    }
  }
}

.plan {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-right: 5px;
}

.price {
  font-weight: 700;
  size: 120%;
}

.sign-up {
  margin-top: 5px;
}

.extra {
  color: #5cb85c;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

// ** Landing Page Import ** //

#headerwrap {
  /* background: url(../img/bg01.jpg) no-repeat center top; */
  background-color: #ffffff;
    margin-top: 20px;
    padding-top: 50px;
    background-attachment: relative;
    background-position: center center;
  min-height: 670px;
  width: 100%;

  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-size: 1000px 700px;
}

.heyyo {
    margin-top: 15px;
}
.nav-h2 {
    font-size: 130%;
    font-weight: 500;
    text-align: center;
    color: #4a4b4f;
    margin-top: 35px;
}

.centerBlock {
    display: table;
    margin: 30px auto;
}

.optin-text {
    margin-bottom: 40px;
    color: #4a4b4f;
    font-weight: 400;
    text-align: center;
}

h1 {
  font-size: 60px;
    text-align: center;
    font-weight: 400;
    color: #3cc76a;
}

.img-padding {
    margin: 0 auto;
}

.home-sign-up, .home-sign-up:hover {
  width: 220px;
  height: 50px;
  padding-top: 13px;
  background-color: #3cc76a;
  border-color: #3cc76a;
}

// ** End of Landing Page Import ** //